*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(188, 189, 188);
}

.nav{
    box-shadow: 500px 0 500px #070707;

}

.wrap-main{
    margin-top: 80px;
}

.div-main{
    display: flex;
    justify-content: space-between;
}

.div-img img{
    animation: flutuar 1s ease-in-out infinite alternate;
    position: relative;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 20px;
    }
}



.button-end{
    margin-top: 20px;
    opacity: 0.8; 
}

.button-end:hover{
    opacity: 0.6;
}

.button-end:active{
    opacity: 0.9;
}

.area-curriculo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    flex-direction: column;
}



.borda-mg{
    border: none;
    border-radius: 50% 50% 50%;
    margin-top: 110px;
    box-shadow: 30px 0 150px 0 #070707;   

}


.informacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

.list-info {
    margin-top: 16px;
    
}

.wrap-border{
    width: 100px; 
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(23, 31, 23);
    border-radius: 50%;
}

.footer{
    box-shadow: 0 0 500px #070707;
}

