*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(188, 188, 189);
}

.nav{
    box-shadow: 500px 0 500px #070707;
    
}

.wrap-main{
    margin-top: 80px;
}

.div-main{
    display: flex;
    justify-content: space-between;
}

.area-curriculo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    flex-direction: column;
}


.borda-mg{
    border: 1px solid #070707;
    border-radius: 50% 50% 50%;
    margin-top: 110px;
}




.main-sobre {
    margin-top: 80px;
}


.informacao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}

.list-info {
    margin-top: 16px;
    
}

.wrap-border{
    width: 100px; 
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(23, 31, 23);
    border-radius: 50%;
}

.footer{
    box-shadow: 0 0 500px #070707;
}

