{% extends 'todos/base.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="container div-main">
  <div class="area-curriculo">

    <p class="text-center">Me chamo Ermeson Balbinot, Sou profissional da área de Desenvolvimento Web. Experiência em
      contribuir no
      desenvolvimento de projetos, garantindo o alinhamento com as últimas tendências e
      ferramentas do setor, tais como aplicações de tecnologias. Vivência na utilização de
      tecnologias de programação como JavaScript , Java, Python, Django, Spring Boot, JPA, Html, CSS, Bootstrap
      promovendo o
      desenvolvimento de projetos, aplicativos, sistemas web e softwares personalizados atuando
      como Back end e Front end. Habilidades em compreender as necessidades dos usuários e
      clientes, aplicando soluções eficientes. </p>
      <button type="button" class="btn btn-success button-end">Download Currículo</button>
  </div>

  <div class="div-img">
    <img src="{% static 'assents/eu.png' %}" class="borda-mg" alt="...">
  </div>
</div>

<main class="container main-sobre d-block">
  <div class="container">
    <p class="h2 text-center">SOBRE MIM</p>
    <p class="text-center">Me chamo Ermeson Balbinot, Sou profissional da área de Desenvolvimento Web. Experiência em
      contribuir no
      desenvolvimento de projetos, garantindo o alinhamento com as últimas tendências e
      ferramentas do setor, tais como aplicações de tecnologias. Vivência na utilização de
      tecnologias de programação como JavaScript , Java, Python, Django, Spring Boot, JPA, Html, CSS, Bootstrap
      promovendo o
      desenvolvimento de projetos, aplicativos, sistemas web e softwares personalizados atuando
      como Back end e Front end. Habilidades em compreender as necessidades dos usuários e
      clientes, aplicando soluções eficientes. </p>
  </div>
</main>

<div class="container text-center wrap-main">
  <div class="row align-items-end">

    <div class="col informacao">
      <div class="col wrap-border">
        <a href="https://www.linkedin.com/in/ermeson-balbinot"><img src="{% static 'assents/smile.png' %}" alt=""></a>
      </div>
      <div class="col list-info">
        <p>Linkedin</p>
        <p>Ermeson Balbinot</p>
      </div>
    </div>

    <div class="col informacao">
      <div class="col wrap-border">
        <img src="{% static 'assents/mail.png' %}" alt="">

      </div>
      <div class="col list-info">
        <p>E-MAIL</p>
        <p>ermeson.balbinot10@gmail.com</p>
      </div>
    </div>


    <div class="col informacao">
      <div class="col wrap-border">
        <a href="https://www.instagram.com/ermesonbalbinot/"><img src="{% static 'assents/instagram.png' %}"
            alt="instagram"></a>

      </div>
      <div class="col list-info">
        <p>INSTAGRAM</p>
        <p>ermesonbalbinot</p>
      </div>
    </div>


    <div class="col informacao">
      <div class="col wrap-border">
        <a href="https://wa.me/qr/OKMH27RO567BB1"><img src="{% static 'assents/phone.png' %}" alt="telefone"></a>
      </div>
      <div class="col list-info">
        <p>TELEFONE</p>
        <p>(63) 9 81201914</p>
      </div>
    </div>
  </div>

</div>





{% block extra_js %}{% endblock %}

{% endblock %}