{% extends 'todos/base.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/projeto/projeto.css' %}">
{% endblock %}

{% block title %}Projeto{% endblock %}

{% block content %}


    
    <main class="container main-projeto">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <a href="https://ermeson119.github.io/projeto-one-piece-final/"><img src="{% static 'assents/projeto-one-pince.png' %}" class="card-img-top img" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">Projeto One Pince</h5>
                        <p class="card-text">Landing page Mangá One Pince, desenvolvida nas tecnologias HTML, CSS e JavaScript.</p>
                        <img src="https://img.shields.io/badge/HTML-239120?style=for-the-badge&logo=html5&logoColor=white" alt="logo-html">
                        <img src="https://img.shields.io/badge/CSS-239120?&style=for-the-badge&logo=css3&logoColor=white" alt="logo-css">
                        <img src=" 	https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" alt="logo-javaScript">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="https://ermeson119.github.io/projeto-mario/"><img src="{% static 'assents/projeto-mario-bros.png' %}" class="card-img-top img" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">Projeto Mario Bros</h5>
                        <p class="card-text">Landing page The Super Mario Bros, desenvolvida nas tecnologias HTML, CSS e JavaScript.</p>
                        <img src="https://img.shields.io/badge/HTML-239120?style=for-the-badge&logo=html5&logoColor=white" alt="logo-html">
                        <img src="https://img.shields.io/badge/CSS-239120?&style=for-the-badge&logo=css3&logoColor=white" alt="logo-css">
                        <img src=" 	https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" alt="logo-javaScript">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="https://ermeson119.github.io/project-conversation/"><img src="{% static 'assents/projeto-conversation.png' %}" class="card-img-top img" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">Projeto Conversation</h5>
                        <p class="card-text">Landing page Conversor de moedas, desenvolvida nas tecnologias HTML, CSS e JavaScript.</p>
                        <img src="https://img.shields.io/badge/HTML-239120?style=for-the-badge&logo=html5&logoColor=white" alt="logo-html">
                        <img src="https://img.shields.io/badge/CSS-239120?&style=for-the-badge&logo=css3&logoColor=white" alt="logo-css">
                        <img src=" 	https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" alt="logo-javaScript">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="https://ermeson119.github.io/projeto-devSorteio/"><img src="{% static 'assents/projeto-dev-Sorteio.png' %}" class="card-img-top img" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title">Projeto Dev Sorteio</h5>
                        <p class="card-text">Landing page Sorteador de números, desenvolvida nas tecnologias HTML, CSS e JavaScript.</p>
                        <img src="https://img.shields.io/badge/HTML-239120?style=for-the-badge&logo=html5&logoColor=white" alt="logo-html">
                        <img src="https://img.shields.io/badge/CSS-239120?&style=for-the-badge&logo=css3&logoColor=white" alt="logo-css">
                        <img src=" 	https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black" alt="logo-javaScript">
                    </div>
                </div>
            </div>
        </div>
    </main>
<br>



{% block extra_js %}{% endblock %}

{% endblock %}