{% extends 'todos/base.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/projeto/projeto.css' %}">
{% endblock %}

{% block title %}Projeto{% endblock %}

{% block content %}


<main class="container main-projeto">

  <div class="row">
    <div class="col-sm-3 mb-3 mb-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'assents/comunicacao.png' %}" class="card-img-top img" alt="imagem comunicacao">
          <h5 class="card-title">Comunicação</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'assents/proatividade.png' %}" class="card-img-top img" alt="imagaem Proatividade">
          <h5 class="card-title">Proatividade</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'assents/trabalhoEquipe.png' %}" class="card-img-top img" alt="imagem Trabalho em Equipe">
          <h5 class="card-title">Trabalho em Equipe</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 mb-3 mb-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'assents/autoResponsabilidade.png' %}" class="card-img-top img"
            alt="imagem Auto Responsabilidade">
          <h5 class="card-title">Auto Responsabilidade</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

    <h1 class="text-center">Tecnologias</h1>

    <div class="container text-center wrap-main">
      <div class="row align-items-end">

        <div class="col informacao">
          <div class="col wrap-border">
            <a href="https://www.linkedin.com/in/ermeson-balbinot"><img src="{% static 'assents/smile.png' %}"
                alt=""></a>
          </div>
          <div class="col list-info">
            <p>Linkedin</p>
            <p>Ermeson Balbinot</p>
          </div>
        </div>

        <div class="col informacao">
          <div class="col wrap-border">
            <img src="{% static 'assents/mail.png' %}" alt="">

          </div>
          <div class="col list-info">
            <p>E-MAIL</p>
            <p>ermeson.balbinot10@gmail.com</p>
          </div>
        </div>


        <div class="col informacao">
          <div class="col wrap-border">
            <a href="https://www.instagram.com/ermesonbalbinot/"><img src="{% static 'assents/instagram.png' %}"
                alt="instagram"></a>

          </div>
          <div class="col list-info">
            <p>INSTAGRAM</p>
            <p>ermesonbalbinot</p>
          </div>
        </div>


        <div class="col informacao">
          <div class="col wrap-border">
            <a href="https://wa.me/qr/OKMH27RO567BB1"><img src="{% static 'assents/phone.png' %}" alt="telefone"></a>
          </div>
          <div class="col list-info">
            <p>TELEFONE</p>
            <p>(63) 9 81201914</p>
          </div>
        </div>
      </div>
</main>
<br>
<br>


{% block extra_js %}{% endblock %}

{% endblock %}