{% extends 'todos/base.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/projeto/projeto.css' %}">
{% endblock %}

{% block title %}Projeto{% endblock %}

{% block content %}


<main class="container main-projeto">

  <div class="row">
    <div class="col-sm-4 mb-3 mb-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'assents/comunicacao.png' %}" class="card-img-top img" alt="imagem comunicacao">
          <h5 class="card-title">Comunicação</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'assents/proatividade.png' %}" class="card-img-top img" alt="imagaem Proatividade">
          <h5 class="card-title">Proatividade</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'assents/trabalhoEquipe.png' %}" class="card-img-top img" alt="imagem Trabalho em Equipe">
          <h5 class="card-title">Trabalho em Equipe</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'assents/autoResponsabilidade.png' %}" class="card-img-top img" alt="imagem Auto Responsabilidade">
          <h5 class="card-title">Auto Responsabilidade</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'assents/projeto-one-pince.png' %}" class="card-img-top img" alt="...">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-3 mb-sm-3">
      <div class="card">
        <div class="card-body">
          <img src="{% static 'assents/projeto-one-pince.png' %}" class="card-img-top img" alt="...">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
</main>
<br>


{% block extra_js %}{% endblock %}

{% endblock %}